<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                    @Html.ActionLink("HSK Samariter - Vagtmanager 2.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Min Kalender", "MyCalendar", "Calendar")</li>
                            <li>@Html.ActionLink("Min Profil", "EditUser", "Account")</li>
                        }                        <!-- Here Goes links to Sites, and Controlers:
                        Like this: <li>@Html.ActionLink("LinkText", "actionName", "ControllerName" )
                        Exsample: <li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

       <img src="~/App_Start/Images/samaritter.jpg" class="img-responsive center-block header-img" />
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vagtmanager 2.0 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
